<div class="hashcoin__social-icons">
  <a href="{{ field_facebook }}" class="social-icon icon-fb"><i class="fab fa-facebook-f"></i></a>
  <a href="{{ field_twitter }}" class="social-icon icon-twitter"><i class="fab fa-twitter"></i></a>
  <a href="{{ field_google_plus }}" class="social-icon icon-google"><i class="fab fa-google"></i></a>
  <a href="{{ field_linkedin }}" class="social-icon icon-linkedin"><i class="fab fa-linkedin-in"></i></a>
  <a href="{{ field_youtube }}" class="social-icon icon-youtube"><i class="fab fa-youtube"></i></a>
</div>